{% extends "auctions/layout.html" %}

{% block body %}
<h1>Listing: {{listing.title}}</h1>

{% if user.is_authenticated %}

    <form action="{% url 'addWatchlist' listing.id %}" method="post">
        {% csrf_token %}

            <input type="hidden" value="{{ listing.id }}" name="id">
            
            <input type="submit" class="btn btn-secondary btn-sm" value="Add to Watchlist">
        
</form>
{% endif %}
<img class="mx-auto my-4 d-block"
alt="..."
style="height: 16rem" src="{{listing.image}}" class="img-fluid" alt="Responsive image">
<p >{{listing.description}}</p>
<h4>${{ listing.bid }}</h4>

<h5>Details</h5>
    <ul>
        <li>Listed by: <p class="text-primary d-inline">{{ listing.user.username }}</p></li>
        <li>Category: {{ listing.cagtegory }}</li>
    </ul>

{% endblock %}