{% extends "auctions/layout.html" %}

{% block body %}
<h1>Listing: {{listing.title}}</h1>

{% if user.is_authenticated %}

    {% if listing.winner == user %}
    <div class="alert alert-success" role="alert">
        Congratulation! You have won this auction @ <p class="font-weight-bold d-inline">${{listing.bid}}</p>
        
      </div>
    {% endif %}

    {% if canremove %}
    
    <form action="{% url 'removeWatchlist' listing.id %}" method="post">
        {% csrf_token %}
        <span class="badge badge-secondary">Watchlist</span>
            <input type="hidden" value="{{ listing.id }}" name="id">
            
            <input type="submit" class="btn btn-danger btn-sm" value="Remove from Watchlist">
        
    </form>
 
    {% else %}
    <form action="{% url 'addWatchlist' listing.id %}" method="post">
        {% csrf_token %}

            <input type="hidden" value="{{ listing.id }}" name="id">
            
            <input type="submit" class="btn btn-secondary btn-sm" value="Add to Watchlist">
        
    </form>
    {% endif %}

{% endif %}
<img class="mx-auto my-4 d-block"
alt="..."
style="height: 16rem" src="{{listing.image}}" class="img-fluid" alt="Responsive image">
<p >{{listing.description}}</p>
<h4>${{ listing.bid }}</h4>

{% if user.is_authenticated and listing.isActive %}
    <form action="{% url 'bid' listing.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">

        {% if message %}
        <small class="form-text">
            {{ message }}
        </small>
         {% endif %}
            <input type="number" name="bid" id="bid" class="form-control" placeholder="{{ listing.bid|add:1 }}" step="0.01" max="99999.99" min={{ listing.bid|add:1 }} required>
        </div>

        <input type="submit" value="Place Bid" class="btn btn-primary">
    </form>

{% endif %}


<h5 class="mt-4">Details</h5>
    <ul>
        <li>Listed by: <p class="text-primary d-inline">{{ listing.user.username }}</p></li>
        <li>Category: {{ listing.category }}</li>
    </ul>




{% if user.is_authenticated %}


<h5 class="mt-2">Comments</h5>
    <form action="{% url 'comment' listing.id %}" method="post" class="my-4">
        {% csrf_token %}
        <div class="form-group">
            
            <textarea class="form-control" id="exampleFormControlTextarea1" name="comment" rows="3" placeholder="Comment Here." required></textarea>
          </div>

          <input type="hidden" value="{{ listing.id }}" name="id">

          <input type="submit" value="Comment" class="btn btn-primary">
    </form>

    {% for comment in comments %}

    <div class="card">
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p>{{ comment.comment }}</p>
            <footer class="blockquote-footer">{{comment.user}} </footer>
          </blockquote>
        </div>
      </div>
    
    {% empty %}
    <div class="card my-2">
        <div class="card-body">
          No Comments yet. Add first comment.
        </div>
      </div>
     {% endfor %}

    {% if listing.isActive %}
     <span class="badge badge-success">Active</span>


        {% if listing.user.id == user.id %}
            <form action="{% url 'win' listing.id %}" method="post">
                {% csrf_token %}
                
                <input type="hidden" value="{{ listing.id }}" name="id">
            
                <input type="submit" class="btn btn-danger btn-sm" value="Close Listing">
        
            </form>
        {% endif %}
    {% else %}
        <span class="badge badge-warning">Closed</span>
    {% endif %}

{% endif %}


{% endblock %}